@import './variables';
@import './balls';

@mixin flexCenter($justify_content, $flex_direction) {
  display: flex;
  align-items: center;
  justify-content: $justify_content;
  flex-direction: $flex_direction;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include flexCenter(space-between, row);

  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
}