header {
  display: flex;
  background: $primary;
  color: white;
  button {
    background: $secondary;
    &:hover {
      background: yellow;
    }
    &::after {
      content: "Olá"
    }
  }
  p {
    color: black;
  }
  h1 {
    color: aqua;
  }
}